@media (prefers-color-scheme: dark) {
    :root {
        --body-color: #151437;
        --text-color: #FFF;
        --dots: #EBEBEB;
        --footer-link: #FFF;
        --tab-text: #151437;
    }
} 